<launch>
  <!-- convert to a capability -->
  <include file="$(find turtlebot_bringup)/base.launch" />

  <param name="camera/rgb/image_color/compressed/jpeg_quality" value="22"/>

  <include file="$(find openni_camera)/launch/kinect_frames.launch"/>

  <!-- Make a slower camera feed available. -->
  <node pkg="topic_tools" type="throttle" name="camera_throttle" output="screen"
        args="messages camera/rgb/image_color/compressed 5"/>

  <!-- Kinect camera -->
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="openni_camera" args="load openni_camera/OpenNINodelet openni_manager" respawn="true">
    <param name="rgb_frame_id" value="kinect_rgb_optical_frame" />
    <param name="depth_frame_id" value="kinect_depth_optical_frame" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />

    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>
</launch>

