<!-- 
  Turtlebot is a bit low on horsepower...
  We use openni_camera here as an absolute minimum and only load processing modules as the apps need them.
-->
<launch>
  <arg name="camera"  value="camera"/>
  <arg name="respawn" default="false" />
  <arg name="manager" value="$(arg camera)_nodelet_manager" />
  
  <!-- Processing Module Args -->
  <arg name="rgb"     default="true" />

  <group ns="$(arg camera)">
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" respawn="true" args="manager"/>
    <node pkg="nodelet" type="nodelet" name="openni_camera_loader" args="load openni_camera/driver $(arg camera)_nodelet_manager" respawn="true">
        <rosparam file="$(find turtlebot_bringup)/param/3dsensor.yaml" command="load"/>
    </node>

    <group if="$(arg rgb)">
      <!-- RGB processing - should we actually put this in here or in the apps? -->
      <include file="$(find image_proc)/launch/image_proc.launch" ns="rgb">
        <arg name="manager" value="/$(arg camera)/$(arg manager)" /> <!--  Image proc can't seem to resolve if only $(arg manager) is set -->
        <arg name="respawn" value="$(arg respawn)" />
      </include>
    </group>
    
    <!-- Launch depthimage_to_laserscan -->
    <!-- This uses lazy subscribing, so will not activate Asus/Kinect until scan is requested. -->
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan_loader" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg camera)_nodelet_manager">
     <param name="output_frame_id" value="/$(arg camera)_depth_frame"/>
     <param name="range_min" value="0.6"/>
     <remap from="image" to="/$(arg camera)/depth_registered/image_raw"/>
     <remap from="scan" to="/scan" />
   </node>
  </group>
</launch>

