<launch>
  <!-- Turtlebot -->
  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <arg name="battery"    default="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
  <arg name="simulation" default="$(optenv TURTLEBOT_SIMULATION false)"/>

  <!-- App manager -->
  <arg name="concert_name" default="$(optenv CONCERT_NAME concertmaster)"/> 
  <arg name="robot_name" default="$(optenv ROBOT_NAME TurtleBot)"/>
  <arg name="robot_type" default="$(optenv ROBOT_TYPE turtlebot)"/>
  <arg name="rapp_lists" default="$(optenv RAPP_LIST rocon_apps/rocon.rapps;turtlebot_bringup/turtlebot.rapps)"/>
  <arg name="robot_icon" default="turtlebot_bringup/turtlebot2.png"/>
  <arg name="gateway_watch_loop_period" default="10"/> <!-- Polling period for multimaster advertising/flipping -->

  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="base" value="$(arg base)"/>
    <arg name="battery" value="$(arg battery)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <!-- paired client for app manager -->
  <include file="$(find rocon_app_manager)/launch/paired_private.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
    <arg name="robot_icon" value="$(arg robot_icon)"/>
    <arg name="rapp_lists" value="$(arg rapp_lists)"/>
    <arg name="gateway_watch_loop_period" default="10"/>
  </include>
</launch>
