<launch>
  <!-- Environment Variables -->
  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->

  <include file="$(find rocon_app_manager)/launch/paired_public.launch">
    <arg name="robot_name" value="turtlebot"/>
    <!-- 
      Automatically take control of the private app manager
      Set this to false if you're interested in doing multi-robot applications
      so multi-robot and pairing can work in tandem. 
    -->
    <arg name="auto_invite" value="true" />
  </include>

  <!-- Convenience only until https://github.com/robotics-in-concert/rocon_app_platform/issues/64 -->
  <include file="$(find turtlebot_bringup)/launch/includes/description.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>

</launch>
