<launch>
  <!-- convert to a capability -->
  <include file="$(find turtlebot_bringup)/base.launch" />
  
  <!-- startup kinect manually but optimized for compressed transport.  could be converted to capability -->
  <node pkg="openni_camera" type="openni_node" name="openni_node1" output="screen" >
    
    <param name="device_id" value="#1"/> <!-- this line uses first enumerated device -->
    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
    <param name="rgb_frame_id" value="/openni_rgb_optical_frame" />
    <param name="depth_frame_id" value="/openni_depth_optical_frame" />
    <param name="use_indices" value="false" />
    <param name="depth_registration" value="false" />
    <!-- QQVGA_30Hz -->
    <param name="image_mode" value="5" />
    <!-- QQVGA_30Hz -->
    <param name="depth_mode" value="5" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />
  </node>
  <include file="$(find openni_camera)/launch/kinect_frames.launch"/>
</launch>
