<!--
  Loads the bumper/cliff to pointcloud nodelet on mobile_base_nodelet_manager.
  
  Parameter pointcloud_radius gives the bumper/cliff pointcloud distance to base frame;
  should be something like the robot radius plus plus costmap resolution plus an extra to
  cope with robot inertia. This is a bit tricky parameter: if it's too low, costmap will
  ignore this pointcloud (the robot footprint runs over the hit obstacle), but if it's too
  big, hit obstacles will be mapped too far from the robot and the navigation around them
  will probably fail.
 -->
<launch>
  <node pkg="nodelet" type="nodelet" name="bumper2pointcloud" args="load kobuki_bumper2pc/Bumper2PcNodelet mobile_base_nodelet_manager">
    <param name="pointcloud_radius" value="0.24"/>
    <remap from="bumper2pointcloud/pointcloud"   to="mobile_base/sensors/bumper_pointcloud"/>
    <remap from="bumper2pointcloud/core_sensors" to="mobile_base/sensors/core"/>
  </node>
</launch>
