<launch>

  <!-- Run self-filter -->
  <include file="$(find turtlebot_navigation_laser)/config/laser_self_filter.launch" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find turtlebot_navigation)/maps/willow-2010-02-18-0.10.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find turtlebot_navigation_laser)/config/amcl_turtlebot_laser.launch" />

  <!--- Run Move Base and Robot Pose EKF -->
  <include file="$(find turtlebot_navigation_laser)/config/move_base_turtlebot_laser.launch" />

</launch>
