<launch>
  <!-- velocity commands multiplexer -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load cmd_vel_mux/CmdVelMuxNodelet kobuki">
    <param name="yaml_cfg_file" value="$(find turtlebot_teleop)/param/teleop_mux.yaml"/>
    <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
  </node>
  
  <!-- safety controller -->
  <!-- Disabling for now - in practice it doesn't seem to be working as conveniently as expected.
  <node pkg="nodelet" type="nodelet" name="kobuki_safety_controller" args="load kobuki_safety_controller/SafetyControllerNodelet kobuki">
    <remap from="kobuki_safety_controller/cmd_vel" to="cmd_vel_mux/safety_controller"/>
    <remap from="kobuki_safety_controller/events/bumper" to="mobile_base/events/bumper"/>
    <remap from="kobuki_safety_controller/events/cliff" to="mobile_base/events/cliff"/>
    <remap from="kobuki_safety_controller/events/wheel_drop" to="mobile_base/events/wheel_drop"/>
  </node>
  -->
  <!-- velocity smoother for teleop input -->
  <node pkg="nodelet" type="nodelet" name="teleop_vel_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet kobuki">
    <rosparam file="$(find turtlebot_teleop)/param/teleop_smoother.yaml" command="load"/>
<!--     <remap from="teleop_vel_smoother/raw_cmd_vel" to="raw_cmd_vel"/> -->
    <remap from="teleop_vel_smoother/odometry" to="odom"/>
    <remap from="teleop_vel_smoother/smooth_cmd_vel" to="cmd_vel_mux/teleop"/>
  </node>
</launch>
