<launch>
 
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot_navigation)/maps/willow-2010-02-18-0.10.pgm 0.1" />

  <!--- Run AMCL -->
  <include file="$(find turtlebot_navigation)/config/amcl_turtlebot.launch" />


  <!--- Run Move Base and Robot Pose EKF -->
  <include file="$(find turtlebot_navigation)/config/move_base_turtlebot.launch" />


</launch>
