<launch>

  <!-- sample file, copy this to /etc/ros/electric/turtlebot.launch -->

  <param name="turtlebot_node/gyro_scale_correction" value="1.0"/>
  <param name="turtlebot_node/odom_angular_scale_correction" value="1.0"/>

  <include file="$(find turtlebot_bringup)/minimal.launch">
    <arg name="urdf_file" value="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/turtlebot.urdf.xacro'" />
  </include>

</launch>
