#! /usr/bin/env python                                                                                          
# Software License Agreement (BSD License)                                                                      
#                                                                                                               
# Copyright (c) 2009, Willow Garage, Inc.                                                                       
# All rights reserved.                                                                                          
#                                                                                                               
# Redistribution and use in source and binary forms, with or without                                            
# modification, are permitted provided that the following conditions                                            
# are met:                                                                                                      
#                                                                                                               
#  * Redistributions of source code must retain the above copyright                                             
#    notice, this list of conditions and the following disclaimer.                                              
#  * Redistributions in binary form must reproduce the above                                                    
#    copyright notice, this list of conditions and the following                                                
#    disclaimer in the documentation and/or other materials provided                                            
#    with the distribution.                                                                                     
#  * Neither the name of Willow Garage, Inc. nor the names of its                                               
#    contributors may be used to endorse or promote products derived                                            
#    from this software without specific prior written permission.                                              
#                                                                                                               
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS                                           
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT                                             
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS                                             
# FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE                                                
# COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,                                           
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,                                          
# BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;                                              
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER                                              
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT                                            
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN                                             
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE                                               
# POSSIBILITY OF SUCH DAMAGE.                                                                                   


PACKAGE='turtlebot_follower'
import roslib; roslib.load_manifest(PACKAGE)
import math

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
gen.add("min_x", double_t, 0, "The minimum x position of the points in the box.", -0.20, -3.0,  3.0)
gen.add("max_x", double_t, 0, "The maximum x position of the points in the box.",  0.20, -3.0, 3.0)
gen.add("min_y", double_t, 0, "The minimum y position of the points in the box.", 0.10, -1.0, 3.0)
gen.add("max_y", double_t, 0, "The maximum y position of the points in the box.", 0.50, -1.0, 3.0)
gen.add("max_z", double_t, 0, "The maximum z position of the points in the box.", 0.8, 0.0, 3.0)
gen.add("goal_z", double_t, 0, "The distance away from the robot to hold the centroid.", 0.6, 0.0, 3.0)
gen.add("x_scale", double_t, 0, "The scaling factor for translational robot speed.", 1.0, 0.0, 3.0)
gen.add("z_scale", double_t, 0, "The scaling factor for rotational robot speed.", 5.0, 0.0, 10.0)


exit(gen.generate(PACKAGE, "turtlebot_follower_dynamic_reconfigure", "Follower"))
