<?xml version="1.0"?>
<robot>
  <!-- 
    These properties must be observed by any machine
    that wants to be defined as a turtlebot. Refer
    to the REP for more details.
    
    http://www.ros.org/reps/rep-0119.html
   -->
   
    <!--
     ======================================================================
     - REP 119 : Rgb camera link relative to the Base link 
     ====================================================================== 
     -->
	<property name="cam_px" value="-0.087" />
	<property name="cam_py" value="-0.0135" />
	<property name="cam_pz" value="0.2870" />
	<property name="cam_or" value="0" />
	<property name="cam_op" value="0" />
	<property name="cam_oy" value="0" />
  
</robot>
