<?xml version="1.0"?>

<robot name="turtlebot"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
    
    <!-- Included URDF Files -->
    <include filename="$(find turtlebot_urdf)/urdf/turtlebot.xacro" />
    
    <turtlebot />
</robot>
