<?xml version="1.0"?>

<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="microstrain_3dmgx2_imu_gazebo_v0" params="name imu_topic update_rate stdev">
    <gazebo>
      <controller:gazebo_ros_imu name="imu_controller" plugin="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>${update_rate}</updateRate>
        <bodyName>${name}_link</bodyName>
        <topicName>${imu_topic}</topicName>
        <gaussianNoise>${stdev*stdev}</gaussianNoise>
        <xyzOffsets>0 0 0</xyzOffsets> 
        <rpyOffsets>0 0 0</rpyOffsets>
        <interface:position name="imu_position"/>
      </controller:gazebo_ros_imu>
    </gazebo>
  </xacro:macro>

</robot>
