<launch>
  <!-- control system (velocity commands multiplexer, safety controller, velocity smoother) -->
  <include file="$(find turtlebot_teleop)/launch/safe_teleop.launch"/>

  <!-- joystick driver -->
  <node pkg="joy" type="joy_node" name="joystick"/>

  <!--- Teleop Joystick -->
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <remap from="cmd_vel" to="teleop_vel_smoother/raw_cmd_vel"/>
  </node>
</launch>
