<launch>
  <arg name="base"       value="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <!-- 
    Cmd_vel_mux, safety_controller, velocity_smoother - only available for kobuki 
  -->
  <include file="$(find turtlebot_teleop)/launch/$(arg base)/_safe_teleop.launch"/>

  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
  </node>

</launch>
