<launch>

<!-- Add hokuyo launching here as well. -->
<machine name="turtlebot3" address="turtlebot3" user="turtlebot" password="turtlebot"/>

<node pkg="turtlebot_laser" type="laser_footprint_filter" output="screen" name="laser_footprint_filter">
      <!-- <remap from="scan" to="base_scan" /> -->
      <!-- <rosparam command="load" file="$(find turtlebot_navigation)/config/laser_footprint_filter.yaml" /> -->
</node>


</launch>
