<launch>
  <node pkg="zeroconf_avahi" type="zeroconf" name="zeroconf_avahi" ns="zeroconf">
    <rosparam file="$(find turtlebot_bringup)/param/zeroconf.yaml" command="load"/>
    <!-- 
    <rosparam param="services">
      [ { name: "Turtlebot", type: _ros-master._tcp, domain: local, description: "ros master" } ]
    </rosparam>
     -->
  </node>
</launch>
