<!--
  Collection of robot-centric definitions and nodes for the turtlebot. 
 -->
<launch>
  <arg name="base"/>
  <!-- DJS : Update this for the appropriate base later -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/robots/kobuki_kinect.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  
  <param name="robot/name" value="$(optenv ROBOT turtlebot)"/>
  <param name="robot/type" value="turtlebot"/>

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="5.0" />
    <!--param name="tf_prefix" type="string" value="" /-->
  </node>
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find turtlebot_bringup)/param/$(arg base)/diagnostics.yaml" />
  </node>
</launch>
